.nav ul {
  /* *zoom: 1; */
  margin: 0;
  padding: 0;
  list-style: none;
  background: #333;
}

.nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.nav ul>li {
  float: left;
  position: relative;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  /* line-height: 1.2em; */
  color: #fff;
  /* border-right: 1px solid #595959; */
}

.nav a:hover {
  text-decoration: none;
  background: #595959;
}

.nav li ul {
  background: #273754;
}

.nav li ul li {
  width: 110px;
}

.nav li ul a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.nav5 ul>li:hover ul li {
  height: 50px;
}

.nav5 li ul {
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 1;

}

.nav5 li ul li {
  /* overflow: hidden; */
  height: 0;
  /* transition: height 200ms ease-in; */
}